# Installing and importing required libraries

In [1]:
#!pip install psycopg2

In [2]:
# !pip install pandas

In [3]:
import psycopg2 #Library to interact with postgreSQL
import pandas as pd #To read and upload data from files

# Functions to create and connect to Database

In [4]:
def create_db(Name):
    #Creating connection to default Database
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=root")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    #Create a new Database
    cur.execute(f"DROP DATABASE IF EXISTS {Name.lower()};")
    cur.execute(f"CREATE DATABASE {Name.lower()};") #creates name in lowercase
    
    #Close default Database connection object
    conn.close()

In [5]:
def connect_db(Name):
    #Create new connection object to new Database
    s = f"host=localhost dbname={Name.lower()} user=postgres password=root" #using lower to make sure same case
    conn = psycopg2.connect(s)
    cur = conn.cursor()
    
    #Return new Database connection and cursor object
    return cur, conn

# Reading data from Excel files

In [6]:
games = pd.read_excel("Football Database/games.xlsx")
leagues = pd.read_excel("Football Database/leagues.xlsx")
players = pd.read_excel("Football Database/players.xlsx")
shots = pd.read_excel("Football Database/shots.xlsx")
teams = pd.read_excel("Football Database/teams.xlsx")
teamstats = pd.read_excel("Football Database/teamstats.xlsx")

In [7]:
leagues.head()

   leagueID            name understatNotation
0         1  Premier League               EPL
1         2         Serie A           Serie_A
2         3      Bundesliga        Bundesliga
3         4         La Liga           La_liga
4         5         Ligue 1           Ligue_1

In [8]:
leagues.dtypes

leagueID              int64
name                 object
understatNotation    object
dtype: object

In [9]:
players.head()

   playerID                name
0         1  Christian Mathenia
1         2       György Garics
2         3      Luca Caldirola
3         4          Aytac Sulu
4         5      Fabian Holland

In [10]:
players.dtypes

playerID     int64
name        object
dtype: object

In [11]:
games.head()

,gameID,leagueID,season,date,homeTeamID,awayTeamID,homeGoals,awayGoals,homeProbability,drawProbability,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,81,1,2015,2015-08-08 15:45:00,89,82,1,0,0.2843,0.3999,...,5.90,1.62,3.6,6.00,1.67,4.00,5.75,1.64,4.07,6.04
1,82,1,2015,2015-08-08 18:00:00,73,71,0,1,0.3574,0.3500,...,4.27,1.91,3.5,4.00,2.00,3.50,4.20,1.82,3.88,4.70
2,83,1,2015,2015-08-08 18:00:00,72,90,2,2,0.2988,0.4337,...,5.62,1.73,3.5,5.00,1.73,3.90,5.40,1.75,3.76,5.44
3,84,1,2015,2015-08-08 18:00:00,75,77,4,2,0.6422,0.2057,...,4.34,2.00,3.1,2.70,2.00,3.40,4.33,1.79,3.74,5.10
4,85,1,2015,2015-08-08 18:00:00,79,78,1,3,0.1461,0.2159,...,3.08,2.60,3.1,2.88,2.60,3.25,3.00,2.46,3.39,3.14

In [12]:
games.columns

Index(['gameID', 'leagueID', 'season', 'date', 'homeTeamID', 'awayTeamID',
       'homeGoals', 'awayGoals', 'homeProbability', 'drawProbability',
       'awayProbability', 'homeGoalsHalfTime', 'awayGoalsHalfTime', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH',
       'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'PSCH', 'PSCD',
       'PSCA'],
      dtype='object')

# Transform the data as required

In [13]:
#Keeping only the required columns from the dataframes
games = games.iloc[:, :11]
games.columns

Index(['gameID', 'leagueID', 'season', 'date', 'homeTeamID', 'awayTeamID',
       'homeGoals', 'awayGoals', 'homeProbability', 'drawProbability',
       'awayProbability'],
      dtype='object')

In [14]:
games = games.drop(['homeGoals', 'awayGoals'], axis=1)
games.columns

Index(['gameID', 'leagueID', 'season', 'date', 'homeTeamID', 'awayTeamID',
       'homeProbability', 'drawProbability', 'awayProbability'],
      dtype='object')

In [15]:
games.dtypes

gameID                      int64
leagueID                    int64
season                      int64
date               datetime64[ns]
homeTeamID                  int64
awayTeamID                  int64
homeProbability           float64
drawProbability           float64
awayProbability           float64
dtype: object

In [16]:
games.head()

,gameID,leagueID,season,date,homeTeamID,awayTeamID,homeProbability,drawProbability,awayProbability
0,81,1,2015,2015-08-08 15:45:00,89,82,0.2843,0.3999,0.3158
1,82,1,2015,2015-08-08 18:00:00,73,71,0.3574,0.3500,0.2926
2,83,1,2015,2015-08-08 18:00:00,72,90,0.2988,0.4337,0.2675
3,84,1,2015,2015-08-08 18:00:00,75,77,0.6422,0.2057,0.1521
4,85,1,2015,2015-08-08 18:00:00,79,78,0.1461,0.2159,0.6380

In [18]:
teams.head()

   teamID         name
0      71  Aston Villa
1      72      Everton
2      73  Bournemouth
3      74  Southampton
4      75    Leicester

In [19]:
shots.head()

,gameID,shooterID,assisterID,minute,situation,lastAction,shotType,shotResult,xGoal,positionX,positionY
0,81,554,NaN,27,DirectFreekick,Standard,LeftFoot,BlockedShot,0.104347,0.794,0.421
1,81,555,631.0,27,SetPiece,Pass,RightFoot,BlockedShot,0.064342,0.860,0.627
2,81,554,629.0,35,OpenPlay,Pass,LeftFoot,BlockedShot,0.057157,0.843,0.333
3,81,554,NaN,35,OpenPlay,Tackle,LeftFoot,MissedShots,0.092141,0.848,0.533
4,81,555,654.0,40,OpenPlay,BallRecovery,RightFoot,BlockedShot,0.035742,0.812,0.707

In [20]:
shots.columns

Index(['gameID', 'shooterID', 'assisterID', 'minute', 'situation',
       'lastAction', 'shotType', 'shotResult', 'xGoal', 'positionX',
       'positionY'],
      dtype='object')

In [21]:
#Taking required columns only
shots = shots[['gameID', 'shooterID', 'assisterID', 'minute', 'situation', 'shotResult', 'shotType']]

In [22]:
shots.head()

,gameID,shooterID,assisterID,minute,situation,shotResult,shotType
0,81,554,NaN,27,DirectFreekick,BlockedShot,LeftFoot
1,81,555,631.0,27,SetPiece,BlockedShot,RightFoot
2,81,554,629.0,35,OpenPlay,BlockedShot,LeftFoot
3,81,554,NaN,35,OpenPlay,MissedShots,LeftFoot
4,81,555,654.0,40,OpenPlay,BlockedShot,RightFoot

In [23]:
teamstats.head()

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
0,81,89,2015,2015-08-08 15:45:00,h,1,0.627539,9,1,4,13.8261,12,1,2.0,0,W
1,81,82,2015,2015-08-08 15:45:00,a,0,0.674600,9,4,10,8.2188,12,2,3.0,0,L
2,82,73,2015,2015-08-08 18:00:00,h,0,0.876106,11,2,11,6.9000,13,6,3.0,0,L
3,82,71,2015,2015-08-08 18:00:00,a,1,0.782253,7,3,2,11.8462,13,3,4.0,0,W
4,83,72,2015,2015-08-08 18:00:00,h,2,0.604226,10,5,5,6.6500,7,8,1.0,0,D

In [24]:
 teamstats.columns

Index(['gameID', 'teamID', 'season', 'date', 'location', 'goals', 'xGoals',
       'shots', 'shotsOnTarget', 'deep', 'ppda', 'fouls', 'corners',
       'yellowCards', 'redCards', 'result'],
      dtype='object')

In [25]:
teamstats = teamstats[['gameID', 'teamID', 'season', 'goals',
       'shots', 'shotsOnTarget', 'fouls',
       'yellowCards', 'redCards', 'result']]

In [26]:
teamstats.head()

,gameID,teamID,season,goals,shots,shotsOnTarget,fouls,yellowCards,redCards,result
0,81,89,2015,1,9,1,12,2.0,0,W
1,81,82,2015,0,9,4,12,3.0,0,L
2,82,73,2015,0,11,2,13,3.0,0,L
3,82,71,2015,1,7,3,13,4.0,0,W
4,83,72,2015,2,10,5,7,1.0,0,D

In [27]:
#Calling funtion to create new database
try:
    create_db("football")
except psycopg2.Error as e:
    print("Error: DB creation failed")
    print(e)

In [28]:
#Connecting to created DB
try:
    cur, conn = connect_db("football")
except psycopg2.Error as e:
    print("Error: DB connection failed")
    print(e)

# Creating tables in database using our Data Model

In [29]:
#Creating leagues table

create_table_leagues = """CREATE TABLE IF NOT EXISTS leagues(
    leagueID INTEGER PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    underStatNotation VARCHAR(255)
);"""

cur.execute(create_table_leagues)
conn.commit()

In [30]:
#Creating players table

create_table_players = """CREATE TABLE IF NOT EXISTS players(
    playerID INTEGER PRIMARY KEY,
    Name VARCHAR(255) NOT NULL
);"""

cur.execute(create_table_players)
conn.commit()

In [31]:
#Creating teams table

create_table_teams = """CREATE TABLE IF NOT EXISTS teams(
    teamID INTEGER PRIMARY KEY,
    Name VARCHAR(255) NOT NULL
);"""

cur.execute(create_table_teams)
conn.commit()

In [32]:
#Creating games table

create_table_games = """CREATE TABLE IF NOT EXISTS games(
    gameID INTEGER PRIMARY KEY,
    leagueID INTEGER REFERENCES leagues(leagueID),
    homeTeamID INTEGER REFERENCES teams(teamID),
    awayTeamID INTEGER REFERENCES teams(teamID),
    date DATE,
    season INTEGER,
    homeProbability NUMERIC,
    drawProbability NUMERIC,
    awayProbability NUMERIC
);"""

cur.execute(create_table_games)
conn.commit()

In [33]:
#Creating shots table

create_table_shots = """CREATE TABLE IF NOT EXISTS shots(
     gameID INTEGER REFERENCES games(gameID),
    shooterID INTEGER REFERENCES players(playerID),
    assisterID INTEGER REFERENCES players(playerID),
    minute INTEGER,
    situation VARCHAR(50),
    shotResult VARCHAR(20),
    shotType VARCHAR(20)
);"""

cur.execute(create_table_shots)
conn.commit()

In [34]:
#Creating teamstats table

create_table_teamstats = """CREATE TABLE IF NOT EXISTS teamstats(
    gameID INTEGER REFERENCES games(gameID),
    teamID INTEGER REFERENCES teams(teamID),
    season INTEGER,
    goals INTEGER,
    shots INTEGER,
    shotsOnTarget INTEGER,
    fouls INTEGER,
    yellowCards INTEGER,
    redCards INTEGER,
    Result VARCHAR(10)
);"""

cur.execute(create_table_teamstats)
conn.commit()

# Inserting rows into the tables

We use the executemany() function to insert multiple rows at a time in SQL. It is more efficient then execute() because it reduces the overhead of communication with the database server.

In [35]:
query = "INSERT INTO leagues (leagueid, name, understatnotation) VALUES (%s, %s, %s)" 
#%s placeholder automatically converts the datatype to match SQL table
data = [(row['leagueID'], row['name'], row['understatNotation']) for i , row in leagues.iterrows()]

cur.executemany(query, data)
conn.commit()

In [36]:
query = "INSERT INTO players (playerid, name) VALUES (%s, %s)" 
data = [(row['playerID'], row['name']) for i , row in players.iterrows()]

cur.executemany(query, data)
conn.commit()

In [37]:
query = "INSERT INTO teams (teamid, name) VALUES (%s, %s)" 
data = [(row['teamID'], row['name']) for i , row in teams.iterrows()]

cur.executemany(query, data)
conn.commit()

In [38]:
games.columns

Index(['gameID', 'leagueID', 'season', 'date', 'homeTeamID', 'awayTeamID',
       'homeProbability', 'drawProbability', 'awayProbability'],
      dtype='object')

In [39]:
query = """INSERT INTO games (gameid, leagueid, hometeamid, awayteamid, date, season, 
homeprobability, drawprobability, awayprobability) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)""" 

data = [(row['gameID'], row['leagueID'], row['homeTeamID'], 
         row['awayTeamID'], row['date'], row['season'], 
         row['homeProbability'], row['drawProbability'], row['awayProbability']) for i , row in games.iterrows()]

cur.executemany(query, data)
conn.commit()

In [40]:
shots.columns

Index(['gameID', 'shooterID', 'assisterID', 'minute', 'situation',
       'shotResult', 'shotType'],
      dtype='object')

In [41]:
shots.dtypes

gameID          int64
shooterID       int64
assisterID    float64
minute          int64
situation      object
shotResult     object
shotType       object
dtype: object

In [42]:
# convert assisterID from float to int and replace NaN values with NULL
shots['assisterID'] = shots['assisterID'].fillna("NULL").astype(object)
print(shots.head())
print(shots.dtypes)

   gameID  shooterID assisterID  minute       situation   shotResult  \
0      81        554       NULL      27  DirectFreekick  BlockedShot
1      81        555      631.0      27        SetPiece  BlockedShot
2      81        554      629.0      35        OpenPlay  BlockedShot
3      81        554       NULL      35        OpenPlay  MissedShots
4      81        555      654.0      40        OpenPlay  BlockedShot

    shotType
0   LeftFoot
1  RightFoot
2   LeftFoot
3   LeftFoot
4  RightFoot
gameID         int64
shooterID      int64
assisterID    object
minute         int64
situation     object
shotResult    object
shotType      object
dtype: object

In [43]:
#Replacing NULL with None to fill NULL value in SQL
shots = shots.replace("NULL",None)

In [44]:
shots.head()

,gameID,shooterID,assisterID,minute,situation,shotResult,shotType
0,81,554,None,27,DirectFreekick,BlockedShot,LeftFoot
1,81,555,631.0,27,SetPiece,BlockedShot,RightFoot
2,81,554,629.0,35,OpenPlay,BlockedShot,LeftFoot
3,81,554,None,35,OpenPlay,MissedShots,LeftFoot
4,81,555,654.0,40,OpenPlay,BlockedShot,RightFoot

In [45]:
query = """INSERT INTO shots (gameid, shooterid, assisterid, minute, situation, shotresult, shottype)
VALUES (%s, %s, %s, %s, %s, %s, %s)""" 

data = [(row['gameID'], row['shooterID'], row['assisterID'], 
         row['minute'], row['situation'], row['shotResult'], 
         row['shotType']) for i , row in shots.iterrows()]

cur.executemany(query, data)
conn.commit()

In [46]:
teamstats.columns

Index(['gameID', 'teamID', 'season', 'goals', 'shots', 'shotsOnTarget',
       'fouls', 'yellowCards', 'redCards', 'result'],
      dtype='object')

In [47]:
teamstats.dtypes

gameID             int64
teamID             int64
season             int64
goals              int64
shots              int64
shotsOnTarget      int64
fouls              int64
yellowCards      float64
redCards           int64
result            object
dtype: object

In [48]:
#Yellowcards has NAs
teamstats['yellowCards'] = teamstats['yellowCards'].fillna("NULL").astype(object)
teamstats = teamstats.replace("NULL",None)
teamstats.head()

,gameID,teamID,season,goals,shots,shotsOnTarget,fouls,yellowCards,redCards,result
0,81,89,2015,1,9,1,12,2.0,0,W
1,81,82,2015,0,9,4,12,3.0,0,L
2,82,73,2015,0,11,2,13,3.0,0,L
3,82,71,2015,1,7,3,13,4.0,0,W
4,83,72,2015,2,10,5,7,1.0,0,D

In [49]:
query = """INSERT INTO teamstats (gameid, teamid, season, goals, shots, shotsontarget, 
fouls, yellowcards, redcards, result)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""" 

data = [(row['gameID'], row['teamID'], row['season'], 
         row['goals'], row['shots'], row['shotsOnTarget'], 
         row['fouls'], row['yellowCards'], row['redCards'], row['result']) for i , row in teamstats.iterrows()]

cur.executemany(query, data)
conn.commit()

In [50]:
#CLose connection after inserting all rows
conn.close()